@media (max-width: 960px) {
	.project-flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media (max-width: 501px) {
	table {
		padding-bottom: 120px;
		width: 400px;
	}
}


/* MAIN */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

section {
  background-color: #f3e8ee;
	width: 100%;
}

section:nth-child(2n) {
	color: #f3e8ee;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
}

h1 {
  font-family: 'Crimson Text', serif;
  text-align: center;
}

h2 {
	padding-top: 120px;
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size:  48px;
	margin-bottom: 60px;
}


/* NAVIGATION */
#navbar {
	position: fixed;
	width: 100%;
	color: #f3e8ee;
	background-color: #01071F;
	z-index: 999;
}

#navbar ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
	text-align: center;
}

#navbar li {
	display: inline-block;
	padding: 25px;
}


/* WELCOME SECTION */
#welcome-section {
	height: 100vh;
}

.hero {
	background-image: url('../images/jungle-hero.jpg');
  background-size: cover;
  background-position: center;
}

#main-header {
  font-size: 36px;
  text-align: center;
  color: #f3e8ee;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-header h1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 60px;
  font-weight: 700;
}

#main-header p {
  word-spacing: 1px;
  letter-spacing: 2px;
  margin: 0;
}

#main-header p:nth-of-type(2n) {
  font-size: 42px;
  letter-spacing: 7px;
}


/* SKILLS SECTION */
.skills-list {
  margin: auto;
  width: 70%;
}

.skills {
	width: 100%;
}

.skills td {
	font-size: 24px;
	margin-top: 40px;
	width: 50%;
	padding-top: 12px;
}

table {
	margin: auto;
	padding-bottom: 120px;
	width: 600px;
}

.bullet-point {
	width: 16px;
	margin-right: 20px;
}


/* PROJECT SECTION */
.project-jungle {
	background-image: url('../images/project-jungle.jpg');
	background-size: cover;
	background-position: center;
}

.project-flex {
	display: flex;
	justify-content: center;
}

.project-tile {
	width: 480px;
	height: 360px;
	margin: 10px;
	border-radius: 8px;
	background-size: cover;
	background-position: center;
}


/* CONTACT SECTION */
#contact {
	padding: 30px 0 120px 0;
	color: #f3e8ee;
	background-color: #01071f;
}

#contact h3 {
	text-align: center;
	font-size: 24px;
	margin-bottom: 40px;
}

.contact-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-links i {
	margin: 15px;
}


/* FOOTER */
footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #3c493f;
}

#footer-navbar {
	color: #f3e8ee;
}

#footer-navbar ul {
	list-style: none;
	margin: 0;
	text-align: center;
}

#footer-navbar li {
	display: inline-block;
	padding: 40px 0 40px 10px;
}
