/**|----------*/
/**| BASE */
:root {
  /*
  DEFAULT SIZING FOR FONTS & SPACING
  (16px * 0.625) = 10px = 1rem
  */
  --base-size: 62.5%;

  /*
  TYPOGRAPHY
  */
  /* FONT FAMILYS */
  --ff-main: 'Montserrat', sans-serif;

  /* FONT WEIGHT */
  --fw-thin: 100;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 700;

  /*
  COLORS
  */
  --clr-primary-1: rgb(207, 166, 0);
  --clr-primary-2: rgb(207, 182, 83);
  --clr-secondary: rgb(95, 120, 95);

  /* PRIMARY TEXT COLORS */
  --clr-white: rgb(235, 235, 235);

  /* SECONDARY TEXT COLORS */
  --clr-gray-1: rgb(186, 183, 190);
  --clr-gray-2: rgb(102, 103, 111);

  /* SOCIAL LINKS COLORS */
  --clr-gray-3: rgb(53, 61, 81);

  /* BACKGROUNDS COLORS */
  --clr-bg-1: rgba(235, 235, 235, 0.1);
  --clr-bg-2: rgba(11, 16, 36, 0.3);
  --clr-bg-3: rgba(11, 16, 36, 0.6);

  /*
  SPACING
  i.e. PADDING & MARGINS
  */
  --space-1: 1.8rem;
  --space-2: 2.4rem;
  --space-3: 3.6rem;
  --space-4: 4.8rem;
  --space-5: 6rem;
  --space-6: 7.2rem;
  --space-7: 12rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: var(--base-size);
}

body {
  box-sizing: border-box;
  font-family: var(--ff-main);
  font-weight: var(--fw-reg);
}

button,
button:hover {
  background-color: none;
  border: none;
}

ul {
  list-style: none;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

/**|----------*/
/**| LAYOUTS */
.page-wrapper {
}
