/**|----------*/
/**| BASE */
:root {
  /*
  DEFAULT SIZING FOR FONTS & SPACING
  (16px * 0.625) = 10px = 1rem
  */
  --base-size: 62.5%;

  /*
  TYPOGRAPHY
  */
  /* FONT FAMILYS */
  --ff-main: 'Montserrat', sans-serif;

  /* FONT WEIGHT */
  --fw-thin: 100;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-bold: 700;

  /*
  COLORS
  */
  --clr-primary: #cfa600;
  --clr-secondary: #5f785f;

  /* PRIMARY TEXT COLORS */
  --clr-white: #ebebeb;

  /* SECONDARY TEXT COLORS */
  --clr-gray-1: #bab7be;
  --clr-gray-2: #66676f;

  /* SOCIAL LINKS COLORS */
  --clr-gray-3: #353d51;

  /* BACKGROUNDS COLORS */
  --clr-bg-1: rgba(235, 235, 235, 0.1);
  --clr-bg-2: rgba(11, 16, 36, 0.3);
  --clr-bg-3: rgba(11, 16, 36, 0.6);

  /*
  SPACING
  i.e. PADDING & MARGINS
  */
  --space-1: 1.8rem;
  --space-2: 2.4rem;
  --space-3: 3.6rem;
  --space-4: 4.8rem;
  --space-5: 6rem;
  --space-6: 7.2rem;
  --space-7: 12rem;

  --clr-vue: #41b883;
  --clr-js: #f0db4f;
  --clr-css: #2565ae;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: var(--base-size);
}

body {
  box-sizing: border-box;
  font-family: var(--ff-main);
  font-weight: var(--fw-reg);
}

button,
button:hover {
  background-color: none;
  border: 1px solid black;
}

ul {
  list-style: none;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}
